:root {
  /* colors */
  --clr-primary-000: #ffffff;
  --clr-primary-900: #48556a;
  --clr-primary-500: #6e8098;
  --clr-primary-400: #9daec2;
  --clr-primary-200: #ecf2f8;

  /* typography */
  --ff-manrope: "Manrope", sans-serif;

  /* font sizing */
  --fs-large: 20px;
  --fs-normal: 13px;

  /* font weight */
  --fw-bold: 700;
  --fw-medium: 500;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-manrope);
  font-size: var(--fs-normal);
  text-rendering: optimizeSpeed;
  line-height: 1.4;
  background: var(--clr-primary-200);
}

img,
picture {
  max-width: 100%;
  display: block;
}

h1 {
  font-size: var(--fs-large);
  line-height: 1.3;
  letter-spacing: 0.25px;
  color: var(--clr-primary-900);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.card {
  display: flex;
  max-width: 730px;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.card > * {
  flex: 1;
}

.card__image {
  border-radius: 10px 0 0 10px;
  background: left / cover no-repeat url("/images/drawers.jpg");
  min-height: 200px;

  @media (max-width: 600px) {
    border-radius: 10px 10px 0 0;
  }
}

.card__content {
  position: relative;
  display: grid;
  gap: 24px;
  padding: 40px;
  border-radius: 0 10px 10px 0;
  background: var(--clr-primary-000);

  @media (max-width: 600px) {
    border-radius: 0 0 10px 10px;
    padding: 32px 25px 25px 25px;
    gap: 24px;
  }
}

.card__text {
  letter-spacing: 0.12%;
  color: var(--clr-primary-500);
}

.card__post {
  display: flex;
  gap: 20px;

  @media (max-width: 600px) {
    padding-top: 36px;
  }
}

.card__author--image {
  max-width: 40px;
  border-radius: 50%;
}

.card__author--name {
  font-weight: var(--fw-bold);
  letter-spacing: 0.12%;
  color: var(--clr-primary-900);
}

.card__post--date {
  font-weight: var(--fw-medium);
  letter-spacing: 0.12%;
  color: var(--clr-primary-400);
}

.card__social-share {
  /* position: relative; */
  margin-left: auto;
}

.card__share-button {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 32px;
  max-height: 32px;
  margin-left: auto;

  padding: 10px;
  border: 0;
  border-radius: 50%;
  background: var(--clr-primary-200);

  @media (max-width: 30em) {
    position: relative;
    background: rebeccapurple;
    z-index: 999;
  }
}

.card__social-popup {
  /* display: flex;
  justify-content: center;
  align-items: center;
  min-width: 250px;

  position: absolute;
  top: 170px;
  left: 224px;

  padding: 15px;
  border-radius: 5px;
  background: var(--clr-primary-900); */

  & img {
    padding: 0 10px;
  }

  /* @media (max-width: 30em) {
    background: red;
    justify-content: left;
    top: 210px;
    left: 0;
    bottom: 0;
    width: 100%;
    max-height: 200px;
    padding-inline: 1.5rem;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  } */
}

.inverted-triangle {
  --width: 15px;
  position: absolute;
  top: 50px;
  width: 0;
  height: 0;
  border-left: var(--width) solid transparent;
  border-right: var(--width) solid transparent;
  border-top: var(--width) solid var(--clr-primary-900);

  @media (max-width: 30em) {
    display: none;
  }
}

.in-active {
  display: none;
}

.active {
  /* outline: 3px solid red; */
  /* transform: scale(1); */
  /* bottom: 0; */

  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 250px;

  position: absolute;
  top: 170px;
  left: 224px;

  padding: 15px;
  border-radius: 5px;
  background: var(--clr-primary-900);

  transition: 0.3s ease-in;

  @media (max-width: 30em) {
    @media (max-width: 30em) {
      background: red;
      justify-content: left;
      top: 210px;
      left: 0;
      bottom: 0;
      width: 100%;
      max-height: 200px;
      padding-inline: 1.5rem;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
  }
}

.share-active {
  background-color: var(--clr-primary-500);
}

.share-active-image img {
  filter: brightness(10);
}
.card__social-popup-text {
  letter-spacing: 3px;
  color: var(--clr-primary-000);
}
